.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.news-cover {
  height: 350px;
  background-color: lightcoral;
  border-radius: 1rem;
}
.news-cover img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.news-img {
	height: 200px;
	aspect-ratio: 1/1;
	width: 100%;
	object-fit: cover;
}